:root{
  --main-green: #459445;
  --main-green: #00a900e0;
  --medium-green: #497a49;
  --light-green: #c1d1c1;

  --main-black: #090a09;
  --medium-black: #515551;
  --light-black: #6a736a;

  --light-grey: #ced7ce;

  --image-padding: 0.3rem;

  --title-font-size:3em;

  --title-color:#393c39;
  --title-border-height:0px;
  --subtitle-border-height:1px;

  --file-upload-background: #c1d1c1;

}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}


.navbar{
  width: 100%;
  height: 8vh;
}


.App-content{
  width: 100%;
  overflow: scroll;
  height: 84vh;
  font-family:Arial, Helvetica, sans-serif;
}

.upload-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.3rem 1rem;
  bottom:0%;
  width: 100%;
  height: 8vh;
  border-top: 2px solid var(--file-upload-background);
  /* background:var(--file-upload-background); */
  background: white;
  backdrop-filter: blur(3px);
}

.upload-section label{
  color: var(--main-green);
  padding: 2px 5px;
  /* border: 1px solid var(--main-green);
  border-radius: 5px; */
}

.upload-section button{
  color:white;
  padding: 2px 10px;
  margin: 0 5px;
  background: var(--main-green);
  border:var(--light-grey);
  border-radius: 5px;
  /* border:0.5px solid white; */
}

.upload-section input{
  /* color:var(--main-green); */
  /* background:  */
  border:var(--light-grey);
  /* border:0.5px solid white; */
} 

.gallery-header .filter-dropdown {
  background: var(--main-green); 
  border: none;
  color:white;
}


.gallery-section{
  width: 100%;
  padding: 2rem 4rem;
}

.gallery-content{
  margin-top: 2rem;
}


.galleryimage{
  object-fit: cover;
  width: 150px;
  height: 150px;
  width: 180px;
  height: 200px;
  width: 100px;
  height: 120px;
}

/* .image-detected, .image-box{
  background: #393c39;
} */


/* DATE SORTED  */
.date-sorted{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.date-sorted .title{
  border-bottom: var(--title-border-height) solid var(--main-black);
  font-size: var(--title-font-size);
  color: var(--title-color);

}
.date-sorted-list{
  display: flex;
  /* margin: 3rem; */
  flex-wrap: wrap;
}

.date-sorted-list-item .image-detected{
  opacity: 0;
  color:black;
  position: absolute;
}



.class-sorted .title{
  color: var(--title-color);
  border-bottom: var(--title-border-height) solid black;
  font-size: var(--title-font-size);
  
}

.class-sorted-images{
  margin: 1rem;
}

.class-sorted-images .person-title{
  border-bottom: var(--subtitle-border-height) solid black;
}


.class-sorted .all-persons{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.date-sorted-list-item {
  padding: var(--image-padding);

}

.class-sorted .animal-group-images{
  display: flex;
  flex-wrap: wrap;
  margin: 0 ;
}

.class-sorted .animal-group{
  margin: 1rem 3rem;
  padding: var(--image-padding);
}

.class-sorted .animal-group .animal-class{
  text-transform:capitalize;
  font-size: 1rem;

}

.class-sorted .animal-groups .animal-title{
  border-bottom: var(--subtitle-border-height) solid black;
}

.class-sorted .all-persons .image-box{
  padding:var(--image-padding);
}




/* CLUSTER SORTED */

.all-cluster-groups .cluster-single-group{
  display: flex;
  /* background: gray; */
  flex-wrap: wrap;
}
.all-cluster-groups .clustered-single-image{
  padding:var(--image-padding);
}

.all-cluster-groups .title{
  /* margin-bottom: 3rem; */
  border-bottom: var(--title-border-height) solid black;
  font-size: var(--title-font-size);
  color:var(--title-color);
}

.all-cluster-groups .cluster-name{
  text-transform: capitalize;
  font-size: 1rem;
}






/* styles.css */
@media (max-width: 400px) {
  :root{  
    --image-padding: 0.3rem;
  
    --title-font-size:1.5em;
  
    --title-color:#393c39;
    --title-border-height:0px;
    --subtitle-border-height:1px;
  
    --file-upload-background: #c1d1c1;
  
  }


  .App-content {
      /* margin: 0 1rem; */
    }

  body{
    overflow: hidden;
  }

  .upload-section{
    position: fixed;
    background: var(--light-grey);
    font-size: 0.65rem;
  }

  

  .galleryimage{
    object-fit: cover;
    width: 95px;
    height: 95px;
  }
  
  .gallery-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background:black; */
    padding: 1rem;
  }

  .gallery-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* DATE SORTED */

  .date-sorted{
    /* background:red; */
    /* margin: 0 1rem; */
  }

  .date-sorted-list, .class-sorted-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    /* background:green; */
  } 

  .date-sorted .title, .class-sorted .title, .all-cluster-groups .title{
    display:none;
  }



  .class-sorted .all-persons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem;
  }

  .animal-groups{
    display: block;
    margin: 1rem 0;
    width: 100%;
  }

  .class-sorted .animal-group {
    margin: 0;
  }

  .class-sorted .person-title {
    width: 100%;
  }






}






